.cake {
  width: 400px;
  height: 200px;
  background-color: brown;
  border-radius: 0 0 20px 20px;
  position: relative;
  margin: 100px auto 0;
}

.candle {
  width: 10px;
  height: 30px;
  background-color: green;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.flame {
  width: 6px;
  height: 10px;
  background-color: orange;
  position: absolute;
  top: -10px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
}
